<div id="top-panel">
	<div class="item">
		<div class="item-icon">
			<i class="fas fa-puzzle-piece"></i>
		</div>
		<div class="item-data">
			<div class="item-title">
				Sector
			</div>
			<div class="item-body">
				Sports
			</div>
		</div>
	</div>
	<div class="item">
		<div class="item-icon">
			<i class="fas fa-futbol"></i>
		</div>
		<div class="item-data">
			<div class="item-title">
				Sport Type
			</div>
			<div class="item-body">
				Bicycle
			</div>
		</div>
	</div>
	<div class="item">
		<div class="item-icon">
			<i class="fas fa-bicycle"></i>
		</div>
		<div class="item-data">
			<div class="item-title">
				Mode
			</div>
			<div class="item-body">
				Mountain Cross
			</div>
		</div>
	</div>
	<div class="item right-side">
		<div class="item-icon">
			<i class="fas fa-recycle"></i>
		</div>
		<div class="item-data">
			<div class="item-title">
				Responsibility
			</div>
			<div class="item-body">
				Be Green!
			</div>
		</div>
	</div>
</div>